node_modules/
public/js

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/

.cpcache/
main.js
cljs-runtime
manifest.edn
dist/
target
.cache
.calva/
.nrepl-*
.dccache
